{
  "type": "forgedinfire:forging",
  "ingredients": [
    {
      "item": "minecraft:apple"
    },
    {
      "item": "minecraft:gold_ingot"
    }
  ],
  "output": {
    "count": 1,
    "item": "minecraft:golden_apple"
  },
  "broken_probability": 0.5
}